@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400;500;600&family=Noto+Sans+Mono:wght@300;400;500;600&family=Open+Sans:wght@400;500;600;700;800&display=swap');


body {
  font-family: 'Noto Sans Display', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Noto Sans Mono', monospace;
}